*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.main__target{
    color: var(--color-cloud);
    width: 320px;
    height: 158px;
    border-radius: 16px;
    font-size: 16px;
    margin: 10px 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
}

.main__target .target-p1,
.main__target .target-p2,
.main__target .target-p3{
    display: flex;
    justify-content: space-between;
    /* align-self: flex-start; */
}

/* .main__target .target-p1 h2,
.main__target .target-p3 h2{
    justify-content: space-around;
} */

.main__target img{
    align-self: flex-end;
}

.main__target .target-p1 h2{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
}

.main__target .target-p1 p{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
}

.main__target .target-p2{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.main__target .target-p3 h2{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.main__target .target-p3 p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.main__target .target-p3 p small{
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
}

.main__target--premium{
    background: blue;
    background: linear-gradient(101.17deg, #1255E1 13.18%, #213E7F 87.96%);
}

.main__target--oro{
    background: #997C15;
    background: linear-gradient(101.17deg, #E9C444 13.18%, #997C15 87.96%);
}

.main__target--black{
    background: #01030D;
    background: linear-gradient(101.17deg, #160F41 13.18%, #01030D 87.96%);
}


@media (min-width: 320px) and (max-width:960px)
{
    .main__target{
        width: 300px;
        height: 158px;
    }

    .main__target--premium .target-p1 h2{
        font-size: 12px;
    }

    .main__target--premium .target-p1 p{
        font-size: 10px;
    }

    .main__target--oro .target-p1 h2{
        font-size: 14px;
    }

    .main__target--oro .target-p1 p{
        font-size: 12px;
    }

    .main__target--black .target-p1 h2{
        font-size: 16px;
    }

    .main__target--black .target-p1 p{
        font-size: 14px;
    }
}