*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.main{
    width: 100%;
    height: calc( 100vh - 160px );
    display: flex;
    padding: 20px 90px;
    background-color: #f7f7f7;
}

.main article{
   /*  background-color: blue; */
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 450px;
    font-family: 'Inter';
    text-align: center;
    box-shadow: 0px 8px 16px -2px rgba(0, 0, 0, 0.2);
}

.main__title{
    /* background-color: yellow; */
    align-self: flex-start;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-sea);
}

.button{
    /* background-color: azure; */
    display: block;
    width: 390px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.875rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    background-color: var(--color-sea);
    color: var(--color-cloud);
    border-radius: 0.25rem;
    box-shadow: 0px 16px 32px -4px rgba(33, 62, 127, 0.2);
    cursor: pointer;
    text-decoration: none;
}

.main article .button{
    display: none;
}




@media (min-width: 320px) and (max-width:960px)
{
    .main{
        padding: 0;
        margin: 0;
    }

    .main article{
        box-shadow: none;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .main article .button{
        display: block;
        margin: 20px 10px;
    }


    .main__title{
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

}